<!DOCTYPE HTML>
<!--
	Big Picture by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
	  <link rel="icon" type="image/gif" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Fork_%26_knife.svg/481px-Fork_%26_knife.svg.png" />
		<title>Wheel Good Food</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>Wheel Good Food</h1>
				<nav>
					<ul>
						<li><a href="#one">Search</a></li>
						<li><a href="#two">About Us</a></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>Welcome!</h2>
					</header>
					<p>Welcome to <strong>Wheel Good Food,</strong> designed for you to be able to find wheelchair-accessible restaurants wherever your travels may take you. <br></p>
					<p>   </p>
					<!--<p><a href="https://html5up.net">HTML5 UP</a>, built on <a href="http://skel.io">Skel</a>,-->
					<!--and released for free under the <a href="https://html5up.net/license">Creative Commons Attribution license</a>.</p>-->
					<footer>
						
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Search for your food and location in the boxes below:</h2>
					</header>
	
	<form method="POST" action="results">
		  List type of food:<br>
  				<input type="text" name="term" value= "Wheelchair Accessible [cuisine]" >
  				<br>
      List location:<br>
  				<input type="text" name="location" value= "Location" >
  				<br>
  			
  			
  			<input type="submit" value="Submit">
					
				</div>
				
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>About Us</h2>
					</header>
					<p>This webapp was created by Kode with Klossy 2017 scholars Rosy (13, @heyimrosy), Lily (17, @lilyhaupt), and Alli (18, @alli_hanlon). They completed this webapp in under three days. If you would like to learn more about Kode with Klossy, click this <a href="https://www.kodewithklossy.com/">link.</a></p>
				</div>
			</section>



	

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; Kopyright, Wheel Good Food</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="html5up-big-picture/assets/js/jquery.min.js"></script>
			<script src="html5up-big-picture/assets/js/jquery.poptrox.min.js"></script>
			<script src="html5up-big-picture/assets/js/jquery.scrolly.min.js"></script>
			<script src="html5up-big-picture/assets/js/jquery.scrollex.min.js"></script>
			<script src="html5up-big-picture/assets/js/skel.min.js"></script>
			<script src="html5up-big-picture/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="html5up-big-picture/assets/js/main.js"></script>

	</body>
</html>